.App {
  position: relative;
  text-align: center;
  background: url('../public/background.jpg');
  background-size: cover;
  height: 100vh;
}

.transparency {
  z-index: 100;
  background: url('../public/mary.png');
  background-size: cover;
  height: 100vh;
}
